RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|uploads|robots|.txt)
RewriteRule ^(.*)$ https://gestion-app-umg.herokuapp.com/index.php?/$1 [L]